{% extends "tech_news/index.html" %}

{% block title %}News{% endblock %}

{% block content %}
    {% for one in list_articles %}
        <li>
            <a href="{{one.2}}"><b>{{one.1}}</b></a>
            <br>
            <img src="{{one.0}}">
            <br>
            <i>{{one.3}}</i>
            <i>{{one.4}}</i>
        </li>
    {% endfor %}
{% endblock %}

{% block button %}
    <input type="button" id="loadMore" value="Load More">
{% endblock %}

{% block code %}
    var catid = 1;
    $('#loadMore').click(function() {
        catid += {{step}};
        $.post('', {
            start: catid,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }, function(data) {
            var div = document.getElementById('frm');
            data = JSON.parse(data);
            for (var i = 0; i < data.length; i++) {
                div.innerHTML = div.innerHTML + (
                    '<li>' +
                    '<a href="' + data[i][2] + '"><b>' + data[i][1] + '</b></a> <br>' +
                    '<img src="' + data[i][0] + '"> <br>' +
                    '<i>' + data[i][3] + '</i>' +
                    '<i>' + data[i][4] + '</i>' +
                    '</li>'
                );
            }
        });
    });
{% endblock %}